@model Compline.Teste.Commons.Entidades.Tarefa

@{
    ViewBag.Title = "Create";
}

<h2>Cadastramento de Tarefa</h2>

@using (Html.BeginForm("Create","Tarefas",FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Tarefa</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrioridadeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PrioridadeId, new SelectList(ViewBag.Prioridades, "Id","Descricao") ,new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrioridadeId, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.ListaDeTarefasId)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cadastrar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar para listagem de Tarefas", "Index","Tarefas",new { idLista = Model.ListaDeTarefasId },null)
</div>
